<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>fi.cs.helsinki.glindstr.soccerdb.filters.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/welcome.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>fi.cs.helsinki.glindstr.soccerdb.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamServlet</servlet-name>
        <servlet-class>fi.cs.helsinki.glindstr.soccerdb.servlets.TeamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>fi.cs.helsinki.glindstr.soccerdb.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeagueServlet</servlet-name>
        <servlet-class>fi.cs.helsinki.glindstr.soccerdb.servlets.LeagueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeasonServlet</servlet-name>
        <servlet-class>fi.cs.helsinki.glindstr.soccerdb.servlets.SeasonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MembershipServlet</servlet-name>
        <servlet-class>fi.cs.helsinki.glindstr.soccerdb.servlets.MembershipServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameServlet</servlet-name>
        <servlet-class>fi.cs.helsinki.glindstr.soccerdb.servlets.GameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeagueServlet</servlet-name>
        <url-pattern>/LeagueServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamServlet</servlet-name>
        <url-pattern>/TeamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeasonServlet</servlet-name>
        <url-pattern>/SeasonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MembershipServlet</servlet-name>
        <url-pattern>/MembershipServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameServlet</servlet-name>
        <url-pattern>/GameServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
